.git
.github
.gitignore
.DS_Store

node_modules
npm-debug.log*
*.log

.env
.env.*

runtime/*
!runtime/.gitkeep

coverage
playwright-report
test-results

docs
tests
scripts
playwright.config.js
Dockerfile*
compose*.yaml
compose*.yml
README*.md
